<!--The content below is only a placeholder and can be replaced.-->

<input type="text" #name  (ngModelChange)="checkingChange($event)" [ngModel]="userName">
{{userName}}

<br><br>

<input type="button" class="btn btn-primary" value="Get Value" (click)="getName(name.value)">

<br><br>
<input type="text" [(ngModel)]="customerName" >
<p>{{customerName}}</p>
<code>This method "greet()" is created in parent component but getting emitted value from child component: </code>
<br><br>
<app-child #child [userLoggedIn]="isUserLoggedInFlag" (greetEvent)="greet($event)"></app-child>
<br><br>

<code>Calling child comp. method from parent component</code>
<button (click)="child.childGreeting()">Call Child Method</button>
<br>
<code>Accessed childName variable from child component into parent Com: </code>{{child.childName}}

<div class="loading" style="display:none;">
    <span>Loading.....</span></div>

<br>
<br>
<code>childVar value in parent: {{child.childVar}}</code>
<br>
<br>
<button type="button" (click)="child.childComponentFunction()">Child Fun Alert</button>
<br>
<br>
<button (click)="method2Call()">Method 1</button>

<br>
<button type="button" (click)="getData1()">Get Data 1</button>
{{responseData1 | json }}