<p>
---- child component ---- 
</p>

<p *ngIf="userLoggedIn">Welcome!</p>
<p *ngIf="!userLoggedIn">Please login</p>

<br><br>
<code>This message variable of child component, getting data from parent component via viewChild component</code>
<!-- {{message}} -->

<br><br>

<button (click)="callParentMethod($event)">greet fun</button>

<br><br>
<br><br>
<!-- <div *ngIf="isLoading" style="width:50px; height:50px">
    <img src="../../assets/loader.gif">
</div> -->

<!-- <div class="loading" style="display:none;">
    <span>Loading.....</span></div> -->

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<button type="button" (click)="getData1()">Get Data 1</button>
<button type="button" (click)="getData2()">Get Data 2</button>
<br><br>
<pre>{{responseData1 | json }}</pre><br><br>
<pre>{{responseData2 | json}}</pre><br><br>
<br><br>

